<html>
    <body class=" w-full grid w-full">
            <div id="nav-bar" class="h-[5%] grid space-x-5 grid-cols-2 justify-between">
                <h1 class="justify-self-start text-2xl">Zabice stranica</h1>
                <button class="justify-self-end">
                    <img src="/images/search.png">
                </button>
            </div>
        <div id="zaba-welcome-card" class="grid justify-center w-full">
                <img src="/images/SLIKA-ZABA.png" class="max-w-full h-auto" alt="">
        </div>
    </body>
</html>
