<html>
    <head class="grid justify-between w-full">
        <div class="h-56 grid grid-cols-2 space-x-5  content-start">
            <div>
                <h1 class="text-2xl">Zabice stranica</h1>
            </div>  
            <div>
                <button class="">
                    <img src="/images/search.png">
                </button>
            </div>   
        </div>
    </head>
    <body class="grid justify-center w-full ">


  
   
  

         <div class="h-56 grid grid-cols-1  content-center ">
                <img src="/images/pozadina.png" class="max-w-full h-auto rounded-lg" alt="">
        </div>

            <img src="/images/zabica.png" class="max-w-full h-auto rounded-lg" alt="">
  
    </body>
</html>
      